<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-custom-button
          [label]="isLoading ? 'Loading Button' : 'Default Button'"
          (btnClick)="downloadData()"
          [isLoading]="isLoading"
           />
      </ion-col>
      <ion-col> {{ data | json}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
